<div class="wrapper"
[ngClass]="{
    'has-nombre': hasNombre,
    'has-apellidos': hasApellidos,
    'has-telefono': hasTelefono,
    'has-email': hasEmail,
    'has-pass': hasPass,
    'has-email-pass-error': !hasEmail && !hasPass,
    'has-nombre-apellidos-telefono-error': !hasNombre && !hasApellidos && !hasTelefono,
    'no-inputs': !hasNombre && !hasApellidos && !hasTelefono && !hasEmail && !hasPass
  }">
    <div class="form-wrapper">
        <form action="" id="formularioRegistrarse" [formGroup]="formregister" >
            <h2>Registrarse</h2>
            <div class="form-group input-box">
                <span class="icon">
                    <i class="bi bi-person-fill"></i>
                </span>
                <input  placeholder="Nombre" formControlName="nombre" required>
                <div *ngIf="formregister.controls['nombre'].errors" class="text-danger">
                    El nombre es obligatorio 
                </div>
            </div>
            <div class="form-group input-box">
                <span class="icon">
                    <i class="bi bi-person-fill"></i>
                </span>
                <input  placeholder="Apellido" formControlName="apellidos" required>
                <div *ngIf="formregister.controls['apellidos'].errors" class="text-danger">
                    El apellido es obligatorio 
                </div>
            </div>
            <div class="form-group input-box">
                <span class="icon">
                    <i class="bi bi-telephone-fill"></i>
                </span>
                <input  placeholder="Telefono" formControlName="telefono" required>
                <div *ngIf="formregister.controls['telefono'].errors" class="text-danger">
                    El numero es obligatorio 
                </div>
            </div>
            <div class="form-group input-box">
                <span class="icon">
                    <i class="bi bi-envelope-fill"></i>
                </span>
                <input  placeholder="Email" formControlName="email" required>
                <div *ngIf="formregister.controls['email'].errors" class="text-danger">
                    El email es obligatorio 
                </div>
            </div>
           
            <div class="form-group input-box">
                <span class="icon">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input  placeholder="Password" formControlName="pass" name="pass" id="passregister" required>
                <div *ngIf="formregister.controls['pass'].errors" class="text-danger">
                    La contraseña es obligatoria 
                </div>
            </div>
            
            <button type="submit">Registrarse</button>
            <div class="sign-link">
                <p>¿Ya tienes cuenta? <a href="">Inciar Sesion</a></p>
            </div>
        </form>
    </div>
</div>
