<div class="wrapper">
    <div class="form-wrapper">
        <form action="" id="formularioRegistrarse" >
            <h2>Registrarse</h2>
            <div class="input-box">
                <span class="icon">
                    <i class="bi bi-person-fill"></i>
                </span>
                <input type="text" placeholder="Nombre" required>
            </div>
            <div class="input-box">
                <span class="icon">
                    <i class="bi bi-person-fill"></i>
                </span>
                <input type="text" placeholder="Apellido" required>
            </div>
            <div class="input-box">
                <span class="icon">
                    <i class="bi bi-telephone-fill"></i>
                </span>
                <input type="email" placeholder="Telefono" required>
            </div>
            <div class="input-box">
                <span class="icon">
                    <i class="bi bi-envelope-fill"></i>
                </span>
                <input type="email" placeholder="Email" required>
            </div>
           
            <div class="input-box">
                <span class="icon">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input type="password" placeholder="Password" name="pass" id="passregister" required>
                <div id="strengthMessage"></div>
            </div>
            
            <button type="submit">Registrarse</button>
            <div class="sign-link">
                <p>¿Ya tienes cuenta? <a href="">Inciar Sesion</a></p>
            </div>
        </form>
    </div>
</div>
