<div class="form-wrapper">
    <form id="formularioRegistrarse" [formGroup]="formregister" >
        <h2>Registrarse</h2>
        <div class="form-group input-box">
            <span class="icon">
                <i class="bi bi-person-fill"></i>
            </span>
            <input  placeholder="Nombre" formControlName="nombre" required>
            <div *ngIf="formregister.controls['nombre'].errors" class="text-danger">
                El nombre es obligatorio 
            </div>
        </div>
        <div class="form-group input-box">
            <span class="icon">
                <i class="bi bi-person-fill"></i>
            </span>
            <input  placeholder="Apellido" formControlName="apellidos" required>
            <div *ngIf="formregister.controls['apellidos'].errors" class="text-danger">
                El apellido es obligatorio 
            </div>
        </div>
        <div class="form-group input-box">
            <span class="icon">
                <i class="bi bi-telephone-fill"></i>
            </span>
            <input  placeholder="Telefono" formControlName="telefono" required>
            <div *ngIf="formregister.controls['telefono'].errors" class="text-danger">
                El numero es obligatorio 
            </div>
        </div>
        <div class="form-group input-box">
            <span class="icon">
                <i class="bi bi-envelope-fill"></i>
            </span>
            <input  placeholder="Email" formControlName="emailform" required>
            <div *ngIf="formregister.controls['emailform'].errors" class="text-danger">
                El email es obligatorio 
            </div>
        </div>
       
        <div class="form-group input-box">
            <span class="icon">
                <i class="bi bi-lock-fill"></i>
            </span>
            <input  placeholder="Password" type="password" formControlName="pass" name="pass" id="passregister" required>
            <div *ngIf="formregister.controls['pass'].errors" class="text-danger">
                La contraseña es obligatoria 
            </div>
        </div>
        
        <button type="submit"  [disabled]="!formregister.valid">Registrarse</button>
        <div class="sign-link">
            <p>¿Ya tienes cuenta? <a href="">Inciar Sesion</a></p>
        </div>
    </form>
</div>


