.contenedor {
    background-color: #FFFAFB;
    margin: 0 auto;
    max-width: 35%;
    border: 1px solid black;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
  
  .detalles {
    text-align: center; /* Centra el contenido horizontalmente */
    padding: 20px; /* Añade un espacio interno al contenedor */
    border-radius: 10px; /* Agrega esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  .btn-pdf {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    background-color: #54880e; /* Color del botón */
    color: white; /* Color del texto */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-pdf:hover {
    background-color: #4a7410; /* Cambia el color del botón al pasar el cursor sobre él */
  }