<div class="wrapper">
    <div class="form-wrapper">
        <form action="">
            <h2>Inciar Sesion</h2>
            <div class="input-box">
                <span class="icon">
                    <i class="bi bi-envelope-fill"></i>
                </span>
                <input type="email" placeholder="Email" required>
            </div>
            <div class="input-box">
                <span class="icon">
                    <i class="bi bi-lock-fill"></i>
                </span>
                <input type="password" placeholder="Password" required>
            </div>
            <button type="submit">Inciar</button>
            <div class="sign-link">
                <p>¿No tienes cuenta? <a routerLink="register">Registrarse</a></p>
            </div>
        </form>
    </div>
</div>
